# MongoDB Connection
MONGODB_URI=mongodb://localhost:27017/
DB_NAME=fyp

# Security
JWT_SECRET_KEY=kUhVkXysoHpubn8OPmaT8MIhNlcpe1qPHVTKfS7IW/n/bB2JkYrfuPSeuBDVD6S4
2aExOUgswP8k5SAXmSvSZQ==

# Default Model
DEFAULT_AI_MODEL=gemini-2.5-flash

# Enabled Models (comma-separated)
ENABLED_MODELS=gpt-oss-20b,gemini,llama,mistral,deepseek,qwen,phi3

# API Keys
OPENAI_API_KEY=""
GEMINI_API_KEY=
HUGGINGFACE_TOKEN=
OPENROUTER_API_KEY=sk-or-v1-

# Model Settings
BATCH_SIZE=5
MAX_RETRIES=3
REQUEST_TIMEOUT=600


# CapeV2 configuration
CAPE_API_URL=http://localhost:8000/apiv2/
CAPE_API_TOKEN=
CAPE_POLL_INTERVAL=10
CAPE_MAX_POLL=60

